# IntelliJ IDEA settings
.idea/
*.iml

# Target and build directories
/target/
/out/
/build/

# Logs and temp files
*.log
*.tmp

# Java binaries
*.class
*.jar
*.war
*.ear

# Maven and Gradle
/.mvn/
/.gradle/
/node_modules/
/.env

# OS-specific files
.DS_Store
Thumbs.db
